{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <h1 id="loading-placeholder">Loading planets data...</h1>
    <table id="index-table" class="table table-striped table-hover">
        <thead class="thead-dark">
            <th>Planet</th>
            <th>Diameter (km)</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface water</th>
            <th>Population</th>
            <th>Residents</th>
        </thead>
    </table>
{% endblock %}